.example-spacer {
    flex: 1 1 auto;
}

::ng-deep .dialog-container .mat-mdc-dialog-surface {
    border-radius: 10px !important;
    padding: 1rem;
    // overflow: hidden; /* Ensures content doesn't overflow rounded corners */
}