    <mat-toolbar style="background-color: #820082;">
        <span style="color: white;">My Task</span>
        <span class="example-spacer"></span>
        <span style="color: white;"  [matMenuTriggerFor]="belowMenu">{{Username}}</span>
    </mat-toolbar>
    <mat-menu #belowMenu="matMenu" yPosition="below">
        <div class="">
            <button mat-raised-button style="background-color: #820082;color: white;" (click)="signout()">Sign Out</button>
        </div>
    </mat-menu>
    
    <div class="add-task-btn p-2">
        <button mat-raised-button style="border-radius: 5px; color: white;background-color: #820082;" (click)="opentaskdialog()">Add Task</button>
    </div>
    <mat-tab-group [(selectedIndex)]="selectedTab" (selectedTabChange)="onTabChanged($event)">
        <mat-tab label="My Task">
            <ng-template matTabContent>
              <app-mytask-table></app-mytask-table>
            </ng-template>
        </mat-tab>
        <mat-tab label="CC">
            <ng-template matTabContent>
              <app-cc></app-cc>
            </ng-template>
        </mat-tab>
        <mat-tab label="Assigned By Me">
            <ng-template matTabContent>
              <app-assigntome></app-assigntome>
            </ng-template>
        </mat-tab>
        <mat-tab label="Archive List">
            <ng-template matTabContent>
              <app-archivelist></app-archivelist>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
    